* {
  margin:0;
  padding:0;
  font-family: serif;
  box-sizing: border-box;
}
body {
	background-color:#352144;
	background-image: url("photos/autumn-foto.jpg");
	background-size: cover;
  min-height: 100vh;
}
header {
  background-image: linear-gradient(to bottom right, rgb(255, 0, 0), rgb(255, 136, 0));
  text-shadow: 5px 5px 8px #000000;
  padding: 30px;
  text-align: left;
  font-size: 35px;
  color: rgb(255, 252, 216);
  letter-spacing: -2px;
  border-bottom: 5px dott double #834800a7;
}
footer {
  background-color: #000000b6;
  padding: 20px;
  text-align: left;
  color: white;
  position: sticky !important;
  top: 100%;
  margin-top: 300px !important;
}
p {
  text-align: left;
  font-size: 10px;
}
.app {
  background-color: rgba(255, 255, 255, 0.619);
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
  border: 3px solid;
  
}
.app h1 {
  font-weight: 25px;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
  text-shadow: 5px 5px 4px #ff000064;
}
.quiz {
  padding: 20px 0;
}
.quiz h2 {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
}
.btn{
  background-color: #90bffd;
  font-size: 15px;
  color: #ffffff;
  font-weight: 500;
  width: 100%;
 /*   */
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover:not([disabled]){
  background-color: #000000;
  color: #ffffff;
  border: 5px solid rgba(132, 116, 255, 0.314);
  letter-spacing: 0.3em;
  outline-style: dotted;
  outline-color:  #5454ff;
  text-shadow: 5px 5px 6px #000000;
}
.btn:disabled{
  cursor: no-drop;
}
.correct {
  background-color: #97f106ab;
  transition: 1s;
  rotate: 362deg;
}
.incorrect {
  background-color: #ff3232c4;
  transform: skewY(-2deg);
}
#next-btn {
  background-color: #8c00ff;
  color: #ffffff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin-top: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  letter-spacing: 0.6em;
  transition: 0.3s;
}
#next-btn:hover {
  letter-spacing: 0.0em;
  transform: rotate(-10deg);
}
#start {
  color: #ffffff;
  background-color: rgb(255, 0, 0);
  
  width: fit-content;
  margin: 100px auto 0;
  font-size: 200px;
  text-align: center;
  padding: 3px 3px;
  text-decoration: none;
  border-radius: 6px;
  border:3px solid #000000;
  font-family:'Brush Script MT', cursive;
  transition: 0.3s;
}
#start:hover {
   background-color: #ffffff;
   color: #ff0000;
   font-family:'Brush Script MT', cursive;
   letter-spacing: 0.6em;
   unicode-bidi: bidi-override;
   text-shadow: 5px 5px 4px #000000;
}
#top {
  letter-spacing: 0.6em;
  transition: 0.3s;
  margin-bottom: 1000000px;
}
#top:hover {
  letter-spacing: 0.0em;
}